@font-face
{
     font-family: newFont;
    src:url("Glamourousse.ttf");
}


#achievements{
    font-family: newFont;
    margin-top: 50px;
    margin-left: 50px;
    width:auto;
}

 div {
                    border-radius: 10px;
                    background-color:white;
                    padding: 50px;
                }
                

h1,h2{
    color:darkblue;
}
            
p{
    font-size: 2em;

}