@font-face
{
        font-family: newFont;
        src:url("Glamourousse.ttf");
}


#profile{
        font-family: newFont;
        margin-top: 20px;
        margin-left: 50px;
        width:auto;
}

h1{
    color:darkblue;
}

p{
    font-size: 1.5em;

}
            