@font-face
{
    font-family: newFont;
    src:url("Glamourousse.ttf");
}
@import "content-area.css";

* {
    margin:0;
    padding: 0;
    box-sizzing:border-box;
}

a{
   
    text-decoration: none;
    word-spacing: 10px;
}


div#container{
    width: 100%;
    margin: 0 auto;

}



.sidebar{
   
    width: 200px;
    float:left;
    margin-top: 150px;
    margin-left: 50px;
  
}



ul#nav li{
    list-style: none;
}

ul#nav li a{
    color:darkblue;
    display: block;
    padding: 10px;
    font-size: 2em;
    border-bottom: 1px solid darkgrey;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

ul#nav li a:hover{
    background-color: darkgrey;
    color: floralwhite;
    padding-left: 30px;
}


.content{
    
    margin-left:200px;
    width:auto;
    height:100%;
    padding: 100px;
    
}

.defaultFace{
        float:top;
        left: 50px;
        font-family: newFont;

}
.defaultFace h1
{
       
        font-size: 100px;
        }
.defaultFace p
        {
       
        font-size: 50px;
        }
        

@media only screen and (max-width: 350px){
    .content{
        padding: 20px;
        position:absolute;
        
        margin-top: 290px;
        margin-left: 0px;
    
        left:0px;
    }

    .defaultFace{
        left:20px;
    }
    
   
   
    .sidebar{
    
        margin-top: 50px;
        margin-left: 20px;
        font-size: .8em;
    

    }
    
   

    
}

