@font-face
{
    font-family: newFont;
    src:url("Glamourousse.ttf");
}

h1{
    position: relative;
    left: 50px;
    font-family: newFont;
    font-size: 100px;
  
}

p{
    position: relative;
    left: 50px;
    font-family: newFont;
    font-size: 50px;

}