@font-face
{
    font-family: newFont;
    src:url("Glamourousse.ttf");
}

* {
    margin:0;
    padding: 0;
    box-sizzing:border-box;
}

h1{
    position: relative;
    left: 50px;
    font-family: newFont;
    font-size: 100px;
  
}

a{
   
    text-decoration: none;
    word-spacing: 10px;
}

p{
    position: relative;
    left: 50px;
    font-family: newFont;
    font-size: 50px;

}

div#container{
    width: 100%;
    margin: 0 auto;

}



.sidebar{
   
    width: 200px;
    float:left;
    margin-top: 200px;
    margin-left: 100px;
  
}

ul#nav{

}

ul#nav li{
    list-style: none;
}

ul#nav li a{
    color:darkblue;
    display: block;
    padding: 10px;
    font-size: 2em;
    border-bottom: 1px solid darkgrey;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

ul#nav li a:hover{
    background-color: darkgrey;
    color: floralwhite;
    padding-left: 30px;
}


.content{
    
    margin-left:200px;
    width:auto;
    height:100%;
    padding: 150px;
    
}

@media only screen and (max-width: 320px){
    .content{
        padding: 0px;
        position:absolute;
        
        margin-top: 250px;
        margin-left: 0px;
    
        left:0px;
    }

    h1{
        font-size: 3em;
        left:20px;
    }
   
   p{
       font-size: 1em;
       left:20px;
   }
   
    .sidebar{
        position: relative;
        margin-top: 50px;
        margin-left: 20px;
        font-size: .8em;
    

    }
    
   

    
}

