@font-face
{
        font-family: newFont;
        src:url("Glamourousse.ttf");
}

#work_experience{
        font-family: newFont;
        margin-left: 50px;
        width:auto;
}
     
h1,h2{
    color:darkblue;
}
            
p{
    font-size: 1.5em;
}
            